<h1>ログイン</h1>

<%= form_with(url: authentications_path) do |form| %>
  <input type="hidden" name="login_challenge" value="<%= @login_challenge %>"/>

  <dl>
    <dt>Login challenge(デバッグ用)</dt>
    <dd><%= @login_challenge %></dd>
    <dt>E-mail</dt>
    <dd><%= form.text_field :email %></dd>
    <dt>Password</dt>
    <dd><%= form.password_field :password %> </dd>
  </dl>
  <div class="actions">
    <%= form.submit 'Login' %>
  </div>
<% end %>
