<!DOCTYPE html>
<html>
  <head>
    <title>PhotoApplication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless content_for?(:no_logout) %>
      <div width="100%" style="text-align: right;">
        <%= form_with(url: sso_logout_path, method: :delete) do |form| %>
          <div class="actions">
            <%= form.submit 'Logout' %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
